body {
    background: #e9e9e9;
    color: #2e2e2e;
    font-family: Arial, helvetica, sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    font-family: "Oswald", Arial, helvetica, sans-serif;
    color: #D5EC8B;
    font-weight: normal;
}

.contenedor .articulos {
    margin-top: 75px;
    margin-bottom: 75px;
}

.contenedor .articulos ul {
    list-style: none;
}

.contenedor .articulos ul li {

    padding: 150px 10px;


}

.paginacion ul{

    list-style: none;
    text-align: center;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul .active a {
    background: #2E9F84;
}

.paginacion ul .disabled {

    border-radius: 15px;
    background: #c8c8c8;
    display: inline-block;
    font-family: "Oswald", Arial, helvetica, sans-serif;
    padding: 15px 25px;
    cursor: not-allowed;
    color: #fff;
    text-decoration: none;
}

.paginacion ul li a {
    display: inline-block;
    border-radius: 15px;
    font-family: "Oswald", Arial, helvetica, sans-serif;
    padding: 15px 25px;
    background-color: #424242;
    color: #fff;
    text-decoration: none;
}

.paginacion ul li a:hover{
    text-decoration: none;
    background: #D5EC8B;
}
.paginacion {
    padding-top: 50px;
}