*{
    box-sizing: border-box;
}
body{
    background-color: #515760;
    font-family: "Arial", sans-serif;
    padding: 50px;
}
.container{

    margin: 20px auto;
    padding: 10px;
    width: 400px;
    height: 240px;
    background-color: #D6EC90;
    border-radius: 5px;
}
h1{
    width: 70%;
    color: #2e2e2e;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}

button{
    background-color: #2E9F84;
    color: #fff;
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 100%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
